{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <section class="form-container">
      <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
         <h3>Login</h3>
         {% csrf_token %}
         <p>Username: <span>*</span></p><span>
         <input type="text" name="username" placeholder="enter your username" required maxlength="50" class="box">
         </span>
         <p>Password: <span>*</span></p>
         <snap>
         <input type="password" name="password" placeholder="enter your password" required maxlength="20" class="box">
         </snap>
         <p id="message">{{ message }}</p>
         <br>
         <input type="submit" value="Login" name="submit" class="btn">
         <br>
         <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
      </form>
   </section> 
</body>
</html>
{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel = "stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}