{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/superfish.css' %}">
    <link rel="stylesheet" href="{% static 'css/touchTouch.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.equalheights.js' %}"></script>
    <script src="{% static 'js/superfish.js' %}"></script>
    <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
    <script src="{% static 'js/touchTouch.jquery.js' %}"></script>
    <script src="{% static 'js/jquery.ui.totop.js' %}"></script>
    <script>
        $(window).load(function() {
            $('.magnifier').touchTouch();
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>

    <!--[if lt IE 8]>
    <div style='clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ie.css' %}">
    <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<header>
    <div class="container_16">
        <div class="row">
            <div class="grid_16">
                <h1><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="agro united"></a></h1>
                <nav>
                    <ul class="sf-menu">
                        <li><a href="{% url 'index' %}">About us</a>
                            <ul>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Offers</a></li>
                                <li><a href="#">News</a>
                                    <ul>
                                        <li><a href="#">Fresh</a></li>
                                        <li><a href="#">Archive</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'partners' %}">Partners</a></li>
                        <li class="last"><a href="{% url 'contacts' %}">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--=======content================================-->
<div class="content">
    <div class="container_16">
        <div class="row">
            <div class="grid_16">
                <h2 class="p4">featured products</h2>
            </div>
        </div>
        <div class="row">
            <div class="gallery-1 clearfix">
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-1-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-1.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-2-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-2.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-3-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-3.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-4-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-4.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-5-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-5.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="maxheight">
                        <div class="bg-5">
                            <a href="{% static 'images/page-3_img-6-b.jpg' %}" class="magnifier"><img src="{% static 'images/page-3_img-6.jpg' %}" alt="" class="wrapper"></a>
                            <div><a href="#" class="a-hov">Consectetur adipisci velit, sed quia non numquam eiu.</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=======footer=================================-->
<footer>
    <div class="bg-4">
        <div class="container_16">
            <div class="row grid_16">
                <div class="inside">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo-foot.png' %}" alt=""></a>
                    <span>&copy; 2013 &#8226; <a href="{% url 'privacy' %}" class="h-underline">Privacy policy</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>