{% load static %}
   <!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

 <section class="form-container">
 
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
       <h3>register now</h3>
       {% csrf_token %}
       <br>
       <p>your first name <span>*</span></p>
       <input type="text" name="firstname" placeholder="enter your first name" required maxlength="50" class="box">
       <p>your last name <span>*</span></p>
       <input type="text" name="lastname" placeholder="enter your last name" required maxlength="50" class="box">
       <p>user name <span>*</span></p>
       <input type="text" name="username" placeholder="enter your name" required maxlength="50" class="box">
       <p>your email <span>*</span></p>
       <input type="email" name="email" placeholder="enter your email" required maxlength="50" class="box">
       <p>Phone no <span>*</span></p>
       <input type="text" name="phone" placeholder="enter your phone no" required maxlength="50" class="box">
       <p>date of birth<span>*</span></p>
       <input type="date" name="dob" placeholder="enter your DOB" required maxlength="50" class="box">
       <p>your password <span>*</span></p>
       <input type="password" name="password" placeholder="enter your password" required maxlength="20" class="box">
       <p>confirm password <span>*</span></p>
       <input type="password" name="confirmation" placeholder="confirm your password" required maxlength="20" class="box">
       <p>User Type <span>*</span></p>
       <select name="is_farmer" id="is_farmer" class="box">
         <option value="T">Farmer</option>
         <option value="F">Investor</option>
       </select>
       <p>select profile <span>*</span></p>
       <input type="file" accept="image/*" name="profileimage" required class="box">
       <input type="submit" value="Register" name="submit" class="btn">
         <br>
    </form>
 
 </section>
 {% if error %}
 <script>
     alert("{{ error }}");
 </script>
 {% endif %} 
 

</body>
</html>
{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel = "stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
